* {
    box-sizing: border-box;
}
  
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 800px) {
    .column {
      width: 100%;
    }
}

a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: x-large;
}

ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .box {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .box::before {
    content: "\2610";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .check-box::before {
    content: "\2611"; 
    color: dodgerblue;
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
