* {
    box-sizing: border-box;
  }
  
  .column.a {
    float: left;
    width: 25%;
    padding: 10px;
    overflow: auto;
  }
  
  .column.b {
    float: left;
    width: 35%;
    height: auto;
    padding: 10px;
    overflow: auto;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column.a {
      width: 100%;
    }
    .column.b {
      width: 100%;
    }
    .column.c {
      width: 100%;
    }
  }
  
  hr {
    border-top: 1px gray;
  }


  img {
    padding: 0px;
  }

  .responsive {
    width: auto;
    height: auto;
    max-height: 300;
    max-width: 500px;
  }

  script {
    pointer-events: none;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
  }


  